@page "/searchmovie"
@using MovieTime.Models;
@using MovieTime.Clients;
@inject SearchMovieClient SearchMovieClient;
@using MovieTime.Shared.Components;

<div id="content">
    <div class="container p-5"> 
        <PageTitle>Search Movie</PageTitle>
    </div>
</div>

<h1>Find Perfect Movie for evening....</h1>
<label for="id">Movie Title:</label>
<input type="text" id="id" name="id" @bind="Addtitle">
<button @onclick= "title">Search</button>
<button @onclick= "OnInitializeAsync">Reset</button>
<Header title="@searchMovieResponse.title" subTitle="@searchMovieResponse.date" description="@searchMovieResponse.explanation" director="@searchMovieResponse.director" rated="@searchMovieResponse.rated"/>
<br>
<SearchMovieImageSection imgUrl="@searchMovieResponse.url" hdUrl="@searchMovieResponse.hdurl" copyright="@searchMovieResponse.copyright"/>

@code {
     private SearchMovieResponse? searchMovieResponse = null;
     
     protected override async Task OnInitializedAsync(){
        searchMovieResponse= await SearchMovieClient.GetMovie(null);
     }
      protected  async Task OnInitializeAsync(){
        Addtitle = null;
        searchMovieResponse= await SearchMovieClient.GetMovie(null);
     }

private string? Addtitle;
async Task title(){
    if(!string.IsNullOrWhiteSpace(Addtitle)){
        searchMovieResponse= await SearchMovieClient.GetMovie(Addtitle);
    }
}

}




